* {
    padding: 0;
    margin: auto;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game_container {
    width: 100%;
    height: 100vh;
    max-width: 720px;
    display: grid;
    grid-template-rows: 50vh 9vh 40vh;
}

.dialog_container {
    z-index: 9;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.dialog_view {
    width: 400px;
    height: 200px;
    margin: auto;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: white solid thin;
}

.dialog_view__input {
    width: 100%;
    height: 30px;
    color: white;
    border-style: none;
    border-bottom: white solid thin;
}

.dialog_view__input:focus {
    outline: none;
    border-bottom: #4b4bd7 solid thin;
}

.dialog_view__button {
    width: 100%;
    height: 30px;
    color: white;
    cursor: pointer;
    border: white solid thin;
}

#dialog_view__button:hover {
    background-color: white;
    color: black;
}

#dialog_view__timer {
    font-size: 2rem;
}

#racer_view {
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 0 5px;
    overflow-x: hidden;
}

.racers {
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

.racer_track {
    width: 100%;
    border-bottom: white dashed thin;
    padding: 8px 0;
}

.racer_car {
    width: 10px;
    height: 20px;
    margin-left: 0;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

#button_view__room_id {
    color: white;
}

#game_view {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0 5px;
    border-spacing: 8px;
    grid-template-rows: auto 10vh;
}

.button_view {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    border-top: white solid thin;
    border-bottom: white solid thin;
}

.buttons {
    height: 60%;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border: white solid thin;
    display: none;
}

#game_view__text {
    margin: 30px;
}

#game_view__input {
    width: 92%;
    padding: 0 20px;
    height: 70%;
    background: white;
    font-size: 1.3rem;
}

.words {
    display: inline-block;
    margin-left: 10px;
}

.chars {
    font-size: 1.3rem;
    color: white;
}

.correct {
    color: #00ff00;
}

.incorrect {
    color: red;
}

.active {
    text-decoration: underline;
}

.invisible {
    display: none !important;
}

.visible {
    display: initial !important;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}