* {
    padding: 0;
    margin: auto;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game_view {
    width: 100%;
    height: 100vh;
    max-width: 720px;
    display: grid;
    grid-template-rows: 50vh 9vh 40vh;
}

.view {
    z-index: 9;
    width: 100%;
    height: 100vh;
    display: grid;
    position: fixed;
    align-content: center;
    justify-content: center;
}

.view > div {
    width: 600px;
    height: 400px;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    border: white solid thin;
}

.timer_view {
    background-color: rgba(0,0,0,0.6);
}

.timer_view > div {
    width: 400px;
    height: 150px;
    border: white solid thin;
    border-bottom: white solid thick;
}

.form_input {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-style: none;
    border-bottom: white solid thick;
}

.form_input:focus {
    outline: none;
    border-bottom: #3b3b9a solid thick;
}

.form_button {
    width: 100%;
    height: 50px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-left: white solid thick;
    border-right: white solid thick;
    transition: all .2s ease-in-out;
}

.form_button:hover {
    background-color: white;
    color: black;
}

#timer_view__countdown {
    font-size: 3rem !important;
}

#game_view__racers {
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 0 5px;
    overflow-x: hidden;
}

.racers {
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

.racer-track {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: white dashed thin;
    padding-bottom: 25px;
}

.racer-car {
    width: 15px;
    height: 20px;
    font-size: 2rem;
    margin-left: 25px;
    transform: scale(-1, 1);
    background-color: transparent;
    transition: all .2s ease-in-out;
}

#game_view__content {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0 5px;
    border-spacing: 8px;
    grid-template-rows: auto 10vh;
}

.game_view__dashboard {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    border-top: white solid thin;
    border-bottom: white solid thin;
}

.dashboard_button {
    color: white;
    height: 60%;
    min-width: 130px;
    cursor: pointer;
    font-size: 1rem;
    border: white solid thin;
    border-bottom: white solid thick;
    transition: all .2s ease-in-out;
    display: none;
}

.dashboard_button:hover {
    color: black;
    background-color: white;
}

#content__text {
    margin: 30px;
}

#content__input {
    width: 92%;
    padding: 0 20px;
    height: 70%;
    background: white;
    font-size: 1.3rem;
}

.words {
    display: inline-block;
    margin-left: 10px;
}

.chars {
    font-size: 1.3rem;
    color: white;
}

.invisible {
    display: none !important;
}

.visible {
    display: initial !important;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


racer-view {
    width: 100%;
    padding: 5px 0;
    color: white;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: white dashed thin;
    background-color: rgba(255, 255, 255, 0.5);
}

label-view {
    width: 100%;
    padding: 0 5px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    background-color: transparent;
}

label-view > div  {
    margin-left: 0;
    background-color: transparent;
}

label-view > span, label-view > div > span {
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 10px;
}

car-view {
    font-size: 30px;
    background-color: transparent;
    margin-left: 0;
    transform: scale(-1, 1);
    transition: all .2s ease-in-out;
}